{{> head }}

{{> navbar  }}

<div class="row">

    <div class="col-8">
        <h1>Jetx</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique praesentium dolores optio beatae debitis atque consectetur? Maiores, sed blanditiis veniam corrupti officiis ipsam fuga ratione. Molestiae deserunt eos aliquam modi.</p>
    </div>
    <div class="col-2">
        <img src="assets/img/lib.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}